%h3= I18n.t("monitor.default_program.title")
%p
  = link_to( I18n.t("monitor.default_program.review_link"), new_evaluation_path, class: "btn btn-primary")
  %br
  = render "default_program_overview_inline", stats: @capacity_stats[:global], day_max: @capacity_stats[:day_max]
