%h3 Reviews
%p At any time, you can chose to complete some or all reviews that are available on a list.
%p When you review a list, Pavlov selects some cards to assess, depending on the result of your previous assessments.
%p The more your assessements are positive, the less regularly the card will be available for review, and vice versa.
