%h3 Content organization
%p A <i>card</i> is a simple <strong>content</strong> that describes what you want to learn or be. Pavlov will ask you for an assessment about it while <strong>reviewing</strong>, even less regularly that the assessment shows you're getting it, and even more that the card is challenging to assimilate.
%p The <strong>tip</strong> of the card is a content that is hidden while reviewing until you chose to reveal it. If you are learning vocabulary, it is typically the translation of the word.
%p Cards are organized and reviewed <strong>list</strong>-wise. Typically, a list corresponds to a topic. Each list can define its own review settings. 
