%h3 Review settings
%p Cards are reviewed list-wise. Each list can define its own settings for the review.

%p The <strong>flow</strong> allows to define a maximal number of cards to review <i>successfully</i> in a period of time. This is useful if you are not in a hurry to learn something and wisely play in the long run.

%p The <strong>rythm</strong> defines the minimal timespan between successful reviews. If it is too short, the card will come back in the reviews quite regularly at the beginning: It can be boring, but it makes more certain a quick assimilation. If it is too long, you risk to forget between reviews and play yo-yo a few times before you really assimilate the card, but you bother less with assessing again and again a card that you did assimilate already.
