%p Pavlov makes it reliable, carefree and efficient to learn or get into new habits.
%p Tell Pavlov what you'd like to learn or become. Pavlov will require assessments all the more regularly that they prove to be necessary; all the less that they show you are assimilating.
