- provide_title I18n.t('static_pages.about.title')

.row
  .col-md-6.col-md-offset-3
    %p
      Pavlov implements the <a href="http://en.wikipedia.org/wiki/Spaced_repetition">spaced repetition</a> learning technique. A particularity of the Pavlov implementation is that a <i>card</i> is never considered learned once and for all, and thus never stops being reviewed. 
      Instead, the more times it has been assessed to be known (✓), the further in the future will the next review of this card be scheduled. This way, you are garanteed that all what you entrusted Pavlov with will be come back in your life some day, unless you delete it.
    %p  
      Pavlov can be employed for:
      %ul
        %li
          Vocabulary, historical dates or any "two-sides" knowledge.
        %li
          Personal development. Make a list of the habits you desire to get into, and assess with ✓ during reviews when you are satisfied with yourself in getting into a particular habit, ✗ otherwise.
