= "Dear sir or madam,"
%br
%br Is that you who suscribed to Pavlov?
%br If so, it is really cool :) Please
= link_to "confirm your e-mail address to me by clicking this link!", @url
%br Otherwise, please ignore this mail!
%br
%br With care,
%br
%br Pavlov
%br= root_url
