%h3 
  %span.guide-icon.glyphicon.glyphicon-th-list
  Assert
%p.text-left
  != t 'guides.assert'
%ul.guide-eval-assert-list.text-left
  %li.eval-ok  
    if you want this card to appear 
    %strong less 
    often
  %li.eval-nok 
    if you want this card to appear 
    %strong more 
    often
%div.guide-arrow
  %span.guide-assert
